<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Raffle Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Raffle Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Pre-filled Form -->
  <form (ngSubmit)="updateRaffle()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ raffle.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Raffle Title</ion-label>
          <ion-input [(ngModel)]="raffle.title" name="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="raffle.description" name="description" required></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Category</ion-label>
          <ion-input [(ngModel)]="raffle.category" name="category" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ticket Price</ion-label>
          <ion-input [(ngModel)]="raffle.price" name="ticketPrice" type="number" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Start Date</ion-label>
          <ion-datetime [(ngModel)]="raffle.startDate" name="startDate" required></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">End Date</ion-label>
          <ion-datetime [(ngModel)]="raffle.endDate" name="endDate" required></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" type="submit" color="primary">Update Raffle</ion-button>
    <ion-button expand="full" color="light" (click)="deleteRaffle()">Delete Raffle</ion-button>
  </form>
</ion-content>
