<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onResetPassword()">
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        [disabled]="loading"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        [disabled]="loading"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="loading || !newPassword || !confirmPassword"
    >
      {{ loading ? 'Resetting...' : 'Reset Password' }}
    </ion-button>
  </form>
</ion-content>
