<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-password-container">
    <form (ngSubmit)="onResetPassword()">
      <ion-item lines="full">
        <ion-label position="floating">New Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          [disabled]="loading"
        ></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          [disabled]="loading"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="loading || !newPassword || !confirmPassword"
        color="primary"
        class="ion-margin-top"
      >
        {{ loading ? 'Resetting...' : 'Reset Password' }}
      </ion-button>
    </form>
  </div>
</ion-content>
