<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <form (ngSubmit)="onForgetPassword()">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          [disabled]="loading"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="loading || !email"
        color="primary"
        class="ion-margin-top"
      >
        {{ loading ? 'Sending...' : 'Send Reset Email' }}
      </ion-button>
    </form>

    <!-- Success or Error Message -->
    <ion-toast
      *ngIf="successMessage"
      [message]="successMessage"
      duration="3000"
      color="success"
    ></ion-toast>
    <ion-toast
      *ngIf="errorMessage"
      [message]="errorMessage"
      duration="3000"
      color="danger"
    ></ion-toast>
  </div>
</ion-content>
