<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onForgetPassword()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        [disabled]="loading"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="loading || !email"
    >
      {{ loading ? 'Sending...' : 'Send Reset Email' }}
    </ion-button>
  </form>

  <!-- Success or Error Message -->
  <ion-toast
    *ngIf="successMessage"
    [message]="successMessage"
    duration="3000"
    color="success"
  ></ion-toast>
  <ion-toast
    *ngIf="errorMessage"
    [message]="errorMessage"
    duration="3000"
    color="danger"
  ></ion-toast>
</ion-content>
